.dialog-content { display:flex; flex-direction:column; gap:12px; min-width: 360px; }
.full { width: 100%; margin-top: 12px;}

headline-padding { padding-top: 8px; }
// container-color { background: #0b1216; }
// .dialog-content { background: #0b1216; color: #fff; }
.title-edit-permission { color: #fff; font-weight: 700; margin-bottom: 12px; background: #032335;}
