# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment files
.env
.env.*

# Angular
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/coverage/

# .NET
api/bin/
api/obj/

# Visual Studio / VS Code
.vs/
.vscode/
*.user
*.suo

# Publish output
publish/